# ============================================================
# Ambiente Python
# ============================================================

.venv/
venv/
env/

# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ============================================================
# Variáveis de ambiente
# ============================================================

.env

# ============================================================
# Dados da Receita Federal
# ============================================================

etl/data/raw/*
!data/raw/.gitkeep

# ============================================================
# Backups / dumps
# ============================================================

*.dump
*.backup
*.sql.gz

# ============================================================
# Logs
# ============================================================

*.log
logs/

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# Sistema operacional
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# API
# ============================================================
api/node_modules/*

# ============================================================
# FRONTEND
# ============================================================
frontend/node_modules/*
